*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

body {
	color: #444;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
}

textarea {
	border: 1px solid #ccc;
	font-family: monospace;
	height: 100%;
	padding: 30px;
	position: absolute;
	white-space: pre;
	width: 50%;
}

.app {
	height: 100%;
	padding: 30px;
	position: absolute;
	top: 0;
	width: 100%;
}

.app__header {
	font-size: 32px;
	margin: 0 0 16px 0;
}

.app__version {
	color: #aaa;
	font-size: 16px;
}

.app__input {
	border-right: none;
	left: 0;
}

.app__output {
	left: 50%;
}

.app__option {
	float: left;
	height: 50px;
	line-height: 50px;
	width: 50%;
}

.app__textareas {
	bottom: 30px;
	left: 30px;
	position: absolute;
	right: 30px;
	top: 200px;
}

.filter {
	font-weight: bold;
	line-height: 40px;
	width: 100%;
}

.filter__input {
	float: right;
	font-weight: normal;
	height: 40px;
	padding: 0 10px;
	width: 90%;
}

.indent--hidden {
	display: none;
}

.indent__input {
	margin: 0 10px 0 0;
}

.indent__name {
	padding: 0 10px 0 0;
}

.mode__input {
	margin: 0 5px 0 0;
}

.mode__label {
	margin: 0 10px 0 0;
}

.mode__name {
	padding: 0 10px 0 0;
}
